body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Courgette', cursive; */
}

:root {
    /* --primary:rgb(237, 203, 154); */
    /* --primary: #D9945D; */
    --text: #1e3264;
    --text-light: #284898;
    --gray: #ECECEC;
    --gray-dark: #ececec;

}
/* // ==================================================font sizes */
.f-12 {
    font-size: 12px;
}

.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.f-18 {
    font-size: 18px;
}

.f-20 {
    font-size: 20px;
}

.f-22 {
    font-size: 22px;
}

.f-24 {
    font-size: 24px;
}

.f-26 {
    font-size: 26px;
}

.f-28 {
    font-size: 28px;
}

.f-30 {
    font-size: 30px;
}

.f-32 {
    font-size: 32px;
}

.f-34 {
    font-size: 34px;
}

.f-36 {
    font-size: 36px;
}

.f-38 {
    font-size: 38px;
}

.f-40 {
    font-size: 40px;
}

.f-42 {
    font-size: 42px;
}

.f-44 {
    font-size: 44px;
}

.f-46 {
    font-size: 46px;
}

.f-80{
    font-size: 80px;
}
@media only screen and (max-width:768px){
    .f-30{
        font-size: 24px;
    }
.f-36{
    font-size: 30px;
}
.f-80{
    font-size: 60px;
}
}

/* // ===========================font weights */
.w-300 {
    font-weight: 300;
}

.w-400 {
    font-weight: 400;
}

.w-500 {
    font-weight: 500;
}

.w-600 {
    font-weight: 600;
}

.w-700 {
    font-weight: 700;
}

.w-800 {
    font-weight: 800;
}
/* ==================================================texts */
.main-heading{
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    color: var(--text);
    letter-spacing: -2px;
}
.text{
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: rgb(48, 69, 121);
}
.main-btn{
    display: block;
    border-style: none;
    border-radius: 50px;
    width: 280px;
    height: 47px;
    background-color:#845EC2;
    box-shadow: none;
    text-shadow: none;
    color: #fff !important;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
   text-decoration: none;
   box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
}
.main-btn:hover{
    background-color: var(--text) !important;
}
/* ===========================================================section-1 */
.section-1{
    display: block;
    background:linear-gradient(#FFCB9C,#EB65B8);
   
    width: 100%;
    position: relative;
height: 100%;
padding-bottom: 150px;

clip-path: polygon(100% 0%, 0% 0% , 0.00% 96.76%, 2.00% 96.59%, 4.00% 96.10%, 6.00% 95.33%, 8.00% 94.34%, 10.00% 93.22%, 12.00% 92.05%, 14.00% 90.94%, 16.00% 89.98%, 18.00% 89.24%, 20.00% 88.79%, 22.00% 88.67%, 24.00% 88.88%, 26.00% 89.41%, 28.00% 90.21%, 30.00% 91.22%, 32.00% 92.36%, 34.00% 93.52%, 36.00% 94.62%, 38.00% 95.56%, 40.00% 96.26%, 42.00% 96.67%, 44.00% 96.75%, 46.00% 96.50%, 48.00% 95.93%, 50.00% 95.09%, 52.00% 94.06%, 54.00% 92.92%, 56.00% 91.76%, 58.00% 90.67%, 60.00% 89.76%, 62.00% 89.09%, 64.00% 88.73%, 66.00% 88.69%, 68.00% 88.99%, 70.00% 89.59%, 72.00% 90.46%, 74.00% 91.51%, 76.00% 92.66%, 78.00% 93.82%, 80.00% 94.88%, 82.00% 95.77%, 84.00% 96.40%, 86.00% 96.72%, 88.00% 96.72%, 90.00% 96.38%, 92.00% 95.73%, 94.00% 94.84%, 96.00% 93.77%, 98.00% 92.61%, 100.00% 91.46%);

transition: background 1s ease;

}
.sign{
   
    display: block;
    background: rgba(255,255,255,0);
    border-style: solid;
    border-width: 7px;
    border-color: #1E3264;
    border-radius: 210px;
    z-index: 41;
    width: 22px;
    height: 22px;
}
.nav-link{
    font-size: 16px;
    color: var(--text);
    font-weight: 500;
    padding-bottom: 5px !important;
}

.nav-link:hover{
    color: var(--text-light) !important;
  
}
.top-images{
    position: relative;
}
.main-image-1{
    width: 350px;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.main-image-2{
    position: absolute;
    top: 40%;
    left: 60%;
}
.main-image-3{
  display: none;
}
/* =================================================================section-2 */
.section-2{
    /* background: linear-gradient(#EB65B8,#cb7fd0); */
    padding: 70px 0px;
}

/* =================================================================section-3 */
.section-3{
    background: linear-gradient(#CB7FD0,#b392e3);
    padding:250px 0px 70px 0px;
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 15.50%, 2.00% 15.36%, 4.00% 14.96%, 6.00% 14.31%, 8.00% 13.47%, 10.00% 12.49%, 12.00% 11.45%, 14.00% 10.41%, 16.00% 9.44%, 18.00% 8.62%, 20.00% 7.99%, 22.00% 7.61%, 24.00% 7.50%, 26.00% 7.67%, 28.00% 8.10%, 30.00% 8.76%, 32.00% 9.62%, 34.00% 10.60%, 36.00% 11.65%, 38.00% 12.69%, 40.00% 13.64%, 42.00% 14.45%, 44.00% 15.05%, 46.00% 15.41%, 48.00% 15.49%, 50.00% 15.30%, 52.00% 14.85%, 54.00% 14.16%, 56.00% 13.29%, 58.00% 12.30%, 60.00% 11.25%, 62.00% 10.22%, 64.00% 9.27%, 66.00% 8.48%, 68.00% 7.90%, 70.00% 7.57%, 72.00% 7.51%, 74.00% 7.73%, 76.00% 8.21%, 78.00% 8.91%, 80.00% 9.80%, 82.00% 10.80%, 84.00% 11.85%, 86.00% 12.88%, 88.00% 13.81%, 90.00% 14.58%, 92.00% 15.14%, 94.00% 15.45%, 96.00% 15.48%, 98.00% 15.24%, 100.00% 14.74%);
}.section-4{
    background: linear-gradient(#B392E3,#98a8f7);
}
/* ==================================================================section-4 */